{% extends 'base.html' %}

{% block content %}

<div id="map" style="width: 600px; height: 600px;">

</div>


<!-- একটি script tag এর ভেতর id="stations_json" হিসেবে জমা রাখে -->
{{ stations|json_script:"stations_json" }}  
<script>
    // Center of the map, 8 is the zoom level
    var map = L.map('map').setView([41.5055, -72.700], 8);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // L.marker([41.5055, -72.700]).addTo(map)
    //     .bindPopup('A pretty CSS popup.<br> Easily customizable.')
    //     .openPopup();


    // Show all the stations 
    let stations = JSON.parse(document.getElementById('stations_json').textContent);
    stations.forEach(station => {
        L.marker([station.latitude, station.longitude]).addTo(map);
    });

    // Add the station
    map.on('click', (event) => {
        // console.log(event.latlng)
        let lat = event.latlng.lat
        let lng = event.latlng.lng
        L.marker([lat, lng]).addTo(map)
        // console.log(lat, lng);

        fetch(`get-nearest-station?latitude=${lat}&longitude=${lng}`)
    });
</script>


{% endblock %}